<article id="home">
		<header>
				<p id="tekstballon1"><span>Kom naar de humo stand op Pukkelpop en shop het tot leiding</span></p>
				<a href="#" id="tekstballon3"><span>watch video</span></a>
			<h1 id="logo"><span>Festi-scout</span></h1>
				<p id="tekstballon2"><span>Download de Festi-scouts app en verzamel badges</span><span id="phone_hand"></span></p>
				<p id="tekstballon4"><span>Ontdek wat er gebeurt in de leidingstent</span></p>
		</header>
		<div id="fotostream">
			<div id="transparant"></div>
			<div id="images">
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
				<div class="picture" style="background-image: url('assets/images/sfeerfoto.jpg')"></div>
			</div>
		</div>
	</article>

<div class=""></div>
<div class="panel">
	<div class="topBar">
		<div class="roulette">
			<a href="#" class="yes"></a>
			<a href="#" class="no"></a>
		</div>
	</div>
</div>

