<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>get_totem</key>
	<string>http://localhost/FestiScouts/api/getTotem</string>
	<key>users</key>
	<string>http://localhost/FestiScouts/api/users/</string>
	<key>badges</key>
	<string>http://localhost/FestiScouts/api/badges</string>
	
	<key>XInitializerItem</key>
	<string>DoNotEverChangeMe</string>
</dict>
</plist>
